<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        backupGlobals="true"
        bootstrap="vendor/autoload.php"
        colors="true">
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/phpunit/junit.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Integration tests">
            <directory>vendor/http-interop/http-factory-tests/test</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="REQUEST_FACTORY" value="Http\Factory\Guzzle\RequestFactory"/>
        <const name="RESPONSE_FACTORY" value="Http\Factory\Guzzle\ResponseFactory"/>
        <const name="SERVER_REQUEST_FACTORY" value="Http\Factory\Guzzle\ServerRequestFactory"/>
        <const name="STREAM_FACTORY" value="Http\Factory\Guzzle\StreamFactory"/>
        <const name="UPLOADED_FILE_FACTORY" value="Http\Factory\Guzzle\UploadedFileFactory"/>
        <const name="URI_FACTORY" value="Http\Factory\Guzzle\UriFactory"/>
    </php>
</phpunit>
